body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #313346;
  }
  
  
  #container3D canvas {
    width: 100vw ;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  